#home{
    display: grid; 
    grid-template-columns: 100%;
    background-color: black;
    /* min-height: 100vh; */
}


#home-content{
 background-color: black;
   min-height: 100vh;
    color: white;
    padding: 10px 15px;
    /* overflow-x: hidden; */
}

.home-header{
  display: block;
}
.home-navbar {
position: sticky;
top:0;
z-index: 2;

}
#home a{
text-decoration: none;
}

#home nav {
  /* padding: 10px 0; */
}

#home nav a,#home-search {
 
 /* font-size: 28px; */
 color: white;
 display: block;
 /* margin-bottom: 40px; */
}

.home-headings {
  display: flex;
  justify-content: space-between;
}

.nav-icons {
    color: gray;
    width: 50px;
    font-size: 30px;
}

#msg-icon {
  /* transform:  skew("10deg"); */
  transform: scale(1.3) rotate(-35deg);
  /* width: 20px; */
}



#home-search i {
  color: gray;
}

#home h2,h3{
    font-family: "Playwrite US Modern";
}
#explore{
    /* margin-top: 15px; */
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    justify-content: space-between;
    width: 100%;
    gap: 30px 0;
}
#explore div{
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#explore img{
    /* border: 2px solid red; */
    border-radius: 30px;
    width: 95%;
    height: 90%;
    object-fit: cover;

}

#explore h3 {
color: #cb6ce6;
}

.mySwiper{
    height:400px !important;
}

.swiper {
  width: 100%;
  height: 400px;

}

.slides {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  /* align-items: center ; */
  
 
}

.swiper-details {
    margin-left: 30px;
}

.swiper-details h3{
    margin-bottom: 30px;
    font-size: 1.5em;
    color: #cb6ce6;
}


.slides img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 0% 30%;
  z-index: 10;
  border-radius: 10px;
}


@media (max-width: 768px) {

  #explore {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  #explore div {
    height: 450px;
  }

  .slides img {
    height: 300px;
  }

  .swiper {
    height: 300px;
  }

  .mySwiper {
    height: 300px !important;
    font-size: 0.9em;
  }
  .home-headings {
    flex-direction: column-reverse;
    gap: 10px;
  
}

#msg-icon {
  /* transform:  skew("10deg"); */
  transform: scale(1.3) rotate(-40deg);
  /* width: 20px; */
}
.search {
  width: 100%;
}

  .swiper-details h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
  }

  .nav-icons {
    font-size: 25px;
    width: 40px;
  }
}


.link-style-button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}
